<app-hy-breadcrumb
  [pageTitle]="'BREADCRUMBS.CONFIG.USER_MANAGEMENT'"
  [pageRootLink]="'/einstellungen/benutzerverwaltung'"
  [pages]="['BREADCRUMBS.CONFIG.USER_MANAGEMENT_OVERVIEW']"
></app-hy-breadcrumb>


<div class="grid lg:grid-cols-4 gap-5">

  <!-- Content -->
  <div class="lg:col-span-2 xl:col-span-3">
    <div class="card p-5">
      <div class="overflow-x-auto">
        <table class="table table-auto table_hoverable w-full">
          <thead>
          <tr>
            <th class="w-px">
              <label class="custom-checkbox">
                <input type="checkbox" checked partial>
                <span></span>
              </label>
            </th>
            <th class="ltr:text-left rtl:text-right uppercase">{{'USER.CREATE_USERNAME' | translate}}</th>
            <th class="text-center uppercase">{{'USER.CREATE_USERCODE' | translate}}</th>
            <th class="text-right uppercase">{{'USER.CREATE_EMAIL' | translate}}</th>
            <th class="text-right uppercase">{{'USER.CREATE_ROLES' | translate}}</th>
            <th class="uppercase"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of userList">
            <td>
              <label class="custom-checkbox">
                <input
                  type="checkbox"
                  data-toggle="rowSelection"
                  (change)="toggleSelection($event,user.id)"
                >
                <span></span>
              </label>
            </td>
            <td>{{user.name}}</td>
            <td class="text-center">{{user.code}}</td>
            <td class="text-right">{{user.email}}</td>
            <td class="text-right">
              <div
                *ngFor="let role of user.roles"
                class="badge badge_outlined uppercase mx-1"
                [class.badge_success]="role === 'Admin'"
                [class.badge_secondary]="role !== 'Admin'"
              >
                {{role}}
              </div>
            </td>
            <td class="ltr:text-right rtl:text-left whitespace-nowrap">
              <div class="inline-flex ltr:ml-auto rtl:mr-auto">
                <button [routerLink]="['/einstellungen/benutzer', user.id]"
                        class="btn btn-icon btn_outlined btn_secondary">
                  <span class="la la-edit"></span>
                </button>
                <button class="btn btn-icon btn_outlined btn_danger ltr:ml-2 rtl:mr-2"
                        (click)="triggerDelete(user.id, user.name)">
                  <span class="la la-trash-alt"></span>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-y-5 lg:col-span-2 xl:col-span-1">

    <!-- Create User -->
    <form [formGroup]="userCreateForm" (ngSubmit)="submit()">
      <div class="card p-5 flex flex-col sm:gap-y-0 gap-y-5">
        <h3>{{'USER.CREATE_NEW_HEADER' | translate}}</h3>
        <div class="flex flex-col gap-y-5">
          <div class="relative mt-5">
            <label
              class="label absolute block bg-input border border-border rounded top-0 ltr:ml-4 rtl:mr-4 px-2 font-heading"
              for="username">{{'USER.CREATE_USERNAME' | translate}}</label>
            <input id="username" class="form-control mt-2 pt-5" formControlName="username">
          </div>
          <div class="relative">
            <label
              class="label absolute block bg-input border border-border rounded top-0 ltr:ml-4 rtl:mr-4 px-2 font-heading"
              for="password">{{'USER.CREATE_PASSWORD' | translate}}</label>
            <input id="password" class="form-control mt-2 pt-5" formControlName="password">
          </div>
          <div class="relative">
            <label
              class="label absolute block bg-input border border-border rounded top-0 ltr:ml-4 rtl:mr-4 px-2 font-heading"
              for="userCode">{{'USER.CREATE_USERCODE' | translate}}</label>
            <input id="userCode" class="form-control mt-2 pt-5" formControlName="userCode">
          </div>
          <div class="relative">
            <label
              class="label absolute block bg-input border border-border rounded top-0 ltr:ml-4 rtl:mr-4 px-2 font-heading"
              for="email">{{'USER.CREATE_EMAIL' | translate}}</label>
            <input id="email" class="form-control mt-2 pt-5" formControlName="email">
          </div>
          <div class="relative">
            <app-hy-multi-select (valuesPublished)="onValuesPublished($event)" [values]="roles"
                                 [label]="'USER.CREATE_ROLES'"></app-hy-multi-select>
          </div>
        </div>
        <div class="flex flex-wrap gap-2 mt-5 justify-end ">
          <button class="btn btn_primary uppercase" type="submit">{{'GENERIC.CREATE' | translate}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
<app-hy-batch-bar
  [itemsSelected]="itemsSelected"
  [showBar]="hasItemsSelected"
  [identifier]="'Benutzer'"
  [action]="'remove'"
  (onAction)="removeItemsSelected()"
></app-hy-batch-bar>
