<div class="flex">
  <div class="flex-none">
    <app-hy-breadcrumb
      [pageTitle]="'Stundenzettel'"
      [pageRootLink]="'/stundenzettel'"
      [pages]="['Übersicht']"
    ></app-hy-breadcrumb>
  </div>
  <div class="flex-auto pl-5">
    &nbsp;
  </div>
</div>

<div class="grid lg:grid-cols-1">
  <div class="card p-5 flex flex-col">
    <table class="table table_hoverable w-full mt-2">
      <thead>
      <tr>
        <th class="ltr:text-left rtl:text-right uppercase w-6">&nbsp;</th>
        <th class="ltr:text-left rtl:text-right uppercase">#</th>
        <th class="ltr:text-left rtl:text-right uppercase">Kunde</th>
        <th class="ltr:text-left rtl:text-right uppercase">Von</th>
        <th class="ltr:text-left rtl:text-right uppercase">Bis</th>
        <th class="ltr:text-left rtl:text-right uppercase">Dauer</th>
        <th class="ltr:text-left rtl:text-right uppercase">Kat</th>
        <th class="ltr:text-left rtl:text-right uppercase">€</th>
        <th class="ltr:text-left rtl:text-right uppercase">Desc</th>
        <th class="ltr:text-left rtl:text-right uppercase">Status</th>
        <th class="ltr:text-left rtl:text-right uppercase">USR</th>
        <th class="ltr:text-left rtl:text-right uppercase">Act</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tt of timeTrackings">
        <td>CB</td>
        <td>{{tt.client.clientNumber}}</td>
        <td>{{tt.client.nameShort}}</td>
        <td>
          <div>
            {{tt.dateStart | date:'HH:mm':'+0200':'de'}}
          </div>
          <div class="text-xs italic">
            {{tt.dateStart | date:'dd.MM.yy':'+0200':'de'}}
          </div>
        </td>
        <td>
          <div>
            {{tt.dateEnd | date:'HH:mm':'+0200':'de'}}
          </div>
          <div class="text-xs italic">
            {{tt.dateEnd | date:'dd.MM.yy':'+0200':'de'}}
          </div>
        </td>
        <td>{{tt.minutesPerSlot.total.minutes | minutesToHours}}</td>
        <td>
            <div class="avatar rateCategory mx-0.5" *ngFor="let cfgRateHour of tt.configuredRateHours">
              {{cfgRateHour.category}}
            </div>
        </td>
        <td>{{tt.minutesPerSlot.total.priceNet | currency:'EUR':'symbol':'3.2-2':'de'}}</td>
        <td>{{tt.description}}</td>
        <td>{{tt.status}}</td>
        <td>{{tt.user.code}}</td>
        <td>BTN</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
